In [2]:
#Import of libraries required for visualization, outlier detection, and other components of EDA
import pandas as pd
import numpy as np
import seaborn as sb
import matplotlib as mp

import sklearn
from sklearn.svm import OneClassSVM
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, mean_squared_error

In [5]:
#Read in data from separate text files into individual dataframes
raw_dat_1 = pd.read_fwf('combined_data_1.txt', names=["MovieIDs"])
raw_dat_2 = pd.read_fwf('combined_data_2.txt', names=["MovieIDs"])
raw_dat_3 = pd.read_fwf('combined_data_3.txt', names=["MovieIDs"])
raw_dat_4 = pd.read_fwf('combined_data_4.txt', names=["MovieIDs"])


#Due to the large size of the data, chunking method was used to process each dataframe separately before aggregating

#Process: Split data in each dataframe and explode into separate columns, Populate Movie IDs for each 
#of the Customer IDs using forward filling and then Clean Movie ID data before aggregating into single dataframe

raw_dat_1[['CustomerIDs', 'Rating','Date Watched']] = raw_dat_1['MovieIDs'].str.split(',', expand=True)
raw_dat_1.loc[raw_dat_1['MovieIDs'].str.contains(','),'MovieIDs'] = None
raw_dat_1['MovieIDs'] = raw_dat_1['MovieIDs'].ffill()
raw_dat_1 = raw_dat_1.dropna(subset = ['Date Watched'])
raw_dat_1["MovieIDs"] = raw_dat_1["MovieIDs"].str.strip(':')

print("File 1 complete")

raw_dat_2[['CustomerIDs', 'Rating','Date Watched']] = raw_dat_2['MovieIDs'].str.split(',', expand=True)
raw_dat_2.loc[raw_dat_2['MovieIDs'].str.contains(','),'MovieIDs'] = None
raw_dat_2['MovieIDs'] = raw_dat_2['MovieIDs'].ffill()
raw_dat_2 = raw_dat_2.dropna(subset = ['Date Watched'])
raw_dat_2["MovieIDs"] = raw_dat_2["MovieIDs"].str.strip(':')

print("File 2 complete")

raw_dat_3[['CustomerIDs', 'Rating','Date Watched']] = raw_dat_3['MovieIDs'].str.split(',', expand=True)
raw_dat_3.loc[raw_dat_3['MovieIDs'].str.contains(','),'MovieIDs'] = None
raw_dat_3['MovieIDs'] = raw_dat_3['MovieIDs'].ffill()
raw_dat_3 = raw_dat_3.dropna(subset = ['Date Watched'])
raw_dat_3["MovieIDs"] = raw_dat_3["MovieIDs"].str.strip(':')

print("File 3 complete")

raw_dat_4[['CustomerIDs', 'Rating','Date Watched']] = raw_dat_4['MovieIDs'].str.split(',', expand=True)
raw_dat_4.loc[raw_dat_4['MovieIDs'].str.contains(','),'MovieIDs'] = None
raw_dat_4['MovieIDs'] = raw_dat_4['MovieIDs'].ffill()
raw_dat_4 = raw_dat_4.dropna(subset = ['Date Watched'])
raw_dat_4["MovieIDs"] = raw_dat_4["MovieIDs"].str.strip(':')

print("File 4 complete")

File 1 complete
File 2 complete
File 3 complete
File 4 complete

In [7]:
nflx_raw_data = pd.concat([raw_dat_1, raw_dat_2, raw_dat_3, raw_dat_4], axis=0)
nflx_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100480507 entries, 1 to 26851925
Data columns (total 4 columns):
 #   Column        Dtype
---  ------        -----
 0   MovieIDs      object
 1   CustomerIDs   object
 2   Rating        object
 3   Date Watched  object
dtypes: object(4)
memory usage: 3.7+ GB

In [8]:
nflx_raw_data.head()

  MovieIDs CustomerIDs Rating Date Watched
1        1     1488844      3   2005-09-06
2        1      822109      5   2005-05-13
3        1      885013      4   2005-10-19
4        1       30878      4   2005-12-26
5        1      823519      3   2004-05-03

In [10]:
#nflx_raw_data['CustomerIDs'].duplicated().any()

True

In [16]:
#test = nflx_raw_data.head()
#test_column = test.drop(['CustomerIDs', 'Rating','Date Watched'], axis=1)
#test_column[['CustomerIDs', 'Rating','Date Watched']] = test_column['MovieIDs'].str.split(',', expand=True)
#test_column

               MovieIDs CustomerIDs Rating Date Watched
0                    1:          1:   None         None
1  1488844,3,2005-09-06     1488844      3   2005-09-06
2   822109,5,2005-05-13      822109      5   2005-05-13
3   885013,4,2005-10-19      885013      4   2005-10-19
4    30878,4,2005-12-26       30878      4   2005-12-26